* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rockets {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list {
  display: flex;
  width: 100%;
  gap: 2%;
  height: auto;
}

.img {
  width: 20%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.description {
  line-height: 1.5rem;
}

.reserved-badge {
  padding: 0.2rem;
  border-radius: 4px;
  margin-right: 1%;
  background-color: rgb(0, 124, 250);
  color: white;
}

.reserve {
  padding: 2% 4%;
  font-size: 1rem;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
}

.cancel {
  background-color: white;
  color: black;
  border: 1px solid black;
}

table {
  font-family: serif;
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ddd;
}

.row {
  font-size: 0.8rem;
  width: 100%;
}

.miss-name {
  width: 10%;
}

.miss-descri {
  width: 70%;
}

.memb {
  background-color: gray;
  color: white;
  font-size: 0.7rem;
  border-radius: 2px;
  border: none;
  padding: 2%;
}

.active {
  background-color: rgb(0, 124, 250);
}

.btn {
  font-size: 0.7rem;
  padding: 5% 2%;
  border-radius: 2px;
  border: 1px solid;
  background: none;
}

.leave {
  border-color: red;
}
